:root{
    --bgcolor : #0e0a27;
    --hcolor : #fff;
    --textcolor : #ddd; 
    --white : #fff;
    --navcolor : #334257;
    --bluecolor :#3688b1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--bgcolor);
}
li,ol{
    list-style: none;
}
button , input{
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
button:focus,input:focus{
    outline: none;
}
a{
    text-decoration: none;
}

/************************************ Start header navbar ***********************************/

header{
    width: 100%;
    background-color: #333;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navcolor);
    position: fixed;
    top: 0;
    left: 0;

}
header .logo h3{
    color: #fff;
    font-size: 26px;
    line-height: 70px;
    margin-left: 25px;
}
header nav ul{
    display: inline-block;
}
header nav ul li{
    display: inline-block;
    line-height: 70px;
    margin-right: 40px;
    font-size: 18px;
    position: relative;
}
header nav ul li.active::before{
    content: "";
    position: absolute;
    width: 105%;
    height: 3px;
    bottom: 20px;
    left: -3px;
    background-color: var(--bluecolor);
    transition: 0.4s;
    z-index: 2;
}

header nav ul li::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 20px;
    left: -3px;
    background-color: var(--bluecolor);
    transition: 0.4s;
}
header nav ul li:hover:before{
    width: 105%;
}
header nav ul li a{
    color: var(--white);
}
header a.cv{
    margin-right: 20px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
    padding: 10px 15px;
    transition: 0.6s ease;
    background: #548CA8;

}
header a.cv:hover{
    background: #548CA8;
    box-shadow: 0 0 400px #548CA8 , 0 0 100px #548CA8 , 0 0 200px #548CA8  ;
}

input{
    display: none;
}
label{
    display: none;
}

@media (max-width : 1024px){
    header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    /* header .navbar{
        width: 100%;
        transform: translateX(-100%);
        transition: 0.4s ease-in-out;
    } */
    header nav ul{
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: #121221;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index:2;
    }
    header nav ul li{
        display: block;
    }
    header nav ul li.active::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 3px;
        bottom: 20px;
        left: 30%;
        background-color: var(--bluecolor);
        transition: 0.4s;
    }
    header nav ul li::before{
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: 20px;
        left: 30%;
        background-color: var(--bluecolor);
        transition: 0.4s;
    }
    header nav ul li:hover:before{
        width: 100px;
    }
    header nav ul li a{
        color: #fff;
    }
    header a.cv{
        display: none;
    }
    label{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: var(--white);
        cursor: pointer;
    }
    #nav:checked ~ ul{
        left: 0;
    }
}
/************************************ End header navbar ***********************************/


/************************************ start first-section ***********************************/

.first-section .first.flex-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--bgcolor);
}


/* start first-section first */
.first-section .first.flex-box .left{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid var(--bluecolor);
    margin-top: 100px;
}
.first-section .first.flex-box .left img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid var(--navcolor);
}
.first-section .first.flex-box .left h3{
    color: var(--hcolor);
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 26px;
}
.first-section .first.flex-box .left p{
    color: var(--hcolor);
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.first-section .first.flex-box .left p.social{
    color: var(--textcolor);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.first-section .first.flex-box .left ul{
    display: inline-block;
}
.first-section .first.flex-box .left ul li{
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: var(--bluecolor);
}

.first-section .first.flex-box .left ul li a{
    color: var(--white);
}


.first-section .first.flex-box .left .cv{
    display: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
    padding: 10px 10px;
    background-color: var(--bluecolor);
    transition: 0.4s ease;
    text-align: center;
}
.first-section .first.flex-box .left .cv:hover{
    background: #548CA8;
    box-shadow: 0 0 400px #548CA8 , 0 0 100px #548CA8 , 0 0 200px #548CA8  ;
}


/* start first-section center */

.first-section .first.flex-box .center{
    width: 70%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.first-section .first.flex-box .center h3{
    color: var(--hcolor);
    font-weight: bold;
    margin:30px 0;
    padding: 5px;
    font-size: 40px;
    width: fit-content;
    border-bottom: 1px solid var(--bluecolor);
}
.first-section .first.flex-box .center span.sp{
    width: 50px;
    height: 10px;
    background-color: var(--bluecolor);
    border-radius: 10px;
    margin-top: -35px;
}
.first-section .first.flex-box .center p.p-1{
   color: var(--textcolor);
   margin: 2em 0;
   padding: 5px;
   line-height: 1.8;
   letter-spacing: 1px;
   width: 80%;
}

.first-section .first.flex-box .center p.p-2{
    color: var(--textcolor);
    padding: 5px;
   letter-spacing: 1px;
}
.first-section .first.flex-box .center p.p-2 i{
    color: var(--bluecolor);
    margin-right: 10px;
}
.first-section .first.flex-box .center p.p-2 span{
    font-weight: bold;
    color: var(--textcolor);
}
.first-section .first.flex-box .center p.p-2 a{
    font-weight: bold;
    color: var(--textcolor);
}


/* start media for About me  */

@media (max-width: 767px){
    .first-section .first.flex-box{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 70px;
    }
    .first-section .first.flex-box .left{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 0;
        border-right: none;
    }
    .first-section .first.flex-box .left .cv{
        display: block;
    }
    
    .first-section .first.flex-box .center{
        width: 100%;
        margin-top: 0;
    }
    
}

@media(min-width : 768px){
    .first-section .first.flex-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 70px;

    }
    .first-section .first.flex-box .left{
        width: 50%;
        border-bottom: 1px solid var(--bluecolor);
        margin-top: 0;
    }
    .first-section .first.flex-box .center{
        width: 50%;
        border-bottom: 1px solid var(--bluecolor);
        margin-top: 0;
    }
}
@media(min-width : 1024px){
    .first-section .first.flex-box{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

    }
    .first-section .first.flex-box .left{
        width: 25%;
        border-bottom: none;
        margin-top: 100px;
    }
    .first-section .first.flex-box .center{
        width: 70%;
        border-bottom: none;
        margin-top: 100px;
    }
    
}

/************************************ end first-section ************************************/


/************************************ skilles **********************************************/

.wrapper-skills{
    width: 100%;
    padding: 40px;
}
.wrapper-skills h2{
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    font-family: serif;
    color: var(--white);
}
.wrapper-skills .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-skills .container .my-skills{
    width: 60%;
}
.wrapper-skills .container .my-skills .skills{
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrapper-skills .container .my-skills .skills .details{
    width: 100%;
    color: var(--white);
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.wrapper-skills .container .my-skills .skills .bar{
    border: 2px solid var(--bluecolor);
    border-radius: 20px;
}
.wrapper-skills .container .my-skills .skills .bar div{
    height: 9px;
    border-radius: 10px;
    background-color: var(--bluecolor);
}
#html-bar{
    width: 90%;
}
#css-bar{
    width: 90%;
}
#sass-bar{
    width: 70%;
}
#javascript-bar{
    width: 40%;
}
#jQuery-bar{
    width: 40%;
}
#git-bar{
    width: 30%;
}
.wrapper-skills .container .image{
    width: 35%;
}
.wrapper-skills .container .image img{
    width: 100%;
}
@media (max-width: 868px){
    .wrapper-skills .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper-skills .container .my-skills{
        width: 100%;
    }
    .wrapper-skills .container .image{
        width: 100%;
    }
}



/**/
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bluecolor);
    border-radius: 5px;
}






